.makeMeAccent{
    background-color: pink ;
}

.makeMeWarn{
    background-color: lightsteelblue;

}

mat-panel-description{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width: 100%;
  }
  mat-panel-title{
    white-space:nowrap;
  }
  
  .containerr {
    max-width: 100%;
    overflow-x: hidden;
    display: block;
  }
  
  .text-containerr {
    overflow: hidden;
    white-space: initial;
    
  }
  .mat-expansion-panel-header-title{
  font-size: 1rem;
  }
