<mat-expansion-panel hideToggle style="background-color: rgba(255, 192, 203,0.3) ;" class="mb-2">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>music_note</mat-icon> {{song.name}}
      </mat-panel-title>
      <mat-panel-description>
        <span class="float-left container"> Author: {{song.author}} </span> <span class="float-right container">Duration: {{song.duration}} min </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel>