<div class="container-fluid">
        <div class="card card-white post m-2  w-100">
            <div class="post-heading">
                <div class="float-left image">
                    <img  src="{{avatar}}" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="float-left meta">
                    <div class="title h5">
                        <a href="#"><b>{{comment.client.firstName}}  {{comment.client.lastName}}</b></a>
                        made a post.
                    </div>
                    <h5 class="text-muted time">{{comment.client.email}}</h5>
                    <h6 class="text-muted time">{{comment.date | date }}</h6>
                </div>
            </div> 
            <div class="post-description"> 
                <p>{{comment.comment ? comment.comment : comment.text }}</p>

            </div>
        </div>
    </div>