<div class="fixActionRow">
<h1 mat-dialog-title>Enter Song Details Below</h1>
<div mat-dialog-content  style="height: calc(100% - 96px);">
    <div class="container">
    <form  [formGroup]="frmSong">
        
    <div class="row ">
        <div class="col-4">
            <mat-form-field>
                <mat-label>Title:</mat-label>
                <input matInput formControlName="title" >
              </mat-form-field>

        </div>
        <div class="col-4 ">
            <mat-form-field>
                <mat-label>Text:</mat-label>
                <textarea  matInput formControlName="text" rows="1"> </textarea>
              </mat-form-field>

        </div>
        <div class="col-4 ">

            <mat-form-field >
                <mat-label>Date of Publishing:</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        
        </div>


    </div>

      <div class="row mt-4 ">
          <div class="col-4 ">
            <mat-form-field class="example-full-width">
                <mat-label>Author:</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       
                       matInput
                       [formControl]="myControlAuthor"
                       [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete">
                  <mat-option  *ngFor="let option of filteredOptionsAuthor | async" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

          </div>
          <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>Composer:</mat-label>
                <input type="text"
                       placeholder="Pick one"
                      
                       matInput
                       [formControl]="myControlComposer"
                       [matAutocomplete]="auto2">
                <mat-autocomplete #auto2="matAutocomplete">
                  <mat-option   *ngFor="let option of filteredOptionsComposer | async" [value]="option.name">
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        

          </div>
          <div class="col-4 ">
            <mat-form-field class="example-full-width">
                <mat-label>Performer:</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       
                       matInput
                       [formControl]="myControlPerformer"
                       [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete">
                  <mat-option  *ngFor="let option of filteredOptionsPerformer | async" [value]="option.name" >
                    {{option.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

          </div>


    </div>

    </form>
</div>
<div class="spacer"></div>
<div mat-dialog-actions>
  <button mat-button >Cancel</button>
  <button mat-button [mat-dialog-close]="getFromValues()" >Add</button>
</div>

</div>