
<mat-toolbar color="" class="app-header" *ngIf="!router.url.includes('home')">
  <img  src="https://see.fontimg.com/api/renderfont4/d9xAX/eyJyIjoiZnMiLCJoIjoxMTEsInciOjExMDAsImZzIjoxMDEsImZnYyI6IiNGMjBBNkMiLCJiZ2MiOiIjRkZGRkZGIiwidCI6MX0/TXVzaWMgbWF4ICBXaGVyZSBtdXNpYyBldm9sdmVz/regina-script.png" class="clearfix img-fluid h-100 mt-4" >
  <span class="example-spacer"></span>
  
  <span class="nav-tool-items">
    <a mat-button color='accent'routerLink="login" routerLinkActive=" mat-raised-button">Log in</a>
    <a mat-button color='accent' routerLink="register" routerLinkActive=" mat-raised-button">Register</a>
  </span>
</mat-toolbar>

<div [@routeAnimation]="getAnimationData(routerOutlet)" > <router-outlet #routerOutlet="outlet"></router-outlet> </div>