<mat-list class="mb-3">
 <div class="text-center"> <h1>Welcome! For starters you can read some intresting facts down here <mat-icon>arrow_downward</mat-icon></h1> </div>
 <mat-divider></mat-divider>
  <mat-list-item class="float-right container"> <div class="container">  <button class="float-right " mat-stroked-button color="accent" (click)="openDialog()" > <mat-icon class="mr-2">create_new_folder</mat-icon>Add a New Fact</button> </div></mat-list-item>
  
</mat-list>




<div class="text-center"><h2>Check out our most active users below!</h2></div>
<mat-accordion >
  <div *ngFor="let user of topActiveUsers |async">
  <mat-expansion-panel (opened)="panelOpenState = true" hideToggle
  (closed)="panelOpenState = false" >
  <mat-expansion-panel-header>
    <mat-panel-title>
     {{user.firstName}} {{user.lastName}}
    </mat-panel-title>
    <mat-panel-description>
     Number of posted songs 	<mat-icon>arrow_right</mat-icon> {{user.num}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>{{user.email}}</p>
  </mat-expansion-panel>
  </div>
  </mat-accordion>
  <mat-divider></mat-divider>

  


<div class="text-center"><h2>Check Out the most popular song yet!</h2></div>
  <ng-container *ngIf="topPopularSong">
  <div class="row my-4">
    <div class="col-12">
    <mat-accordion>
        <app-song-item [song]='topPopularSong' ></app-song-item>
    </mat-accordion>
</div>
</div>
</ng-container>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div [fxFlex]="(100/3) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let fact of facts |async;let index = index">
        <app-fact-item [fact]=fact [index]="index"></app-fact-item>
      </div>
    </div>
  </div>