
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>{{fact.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{fact.imgURL}}" style="height: 17rem;">
      <mat-card-content>
        <p class="text-break">
          {{fact.content}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)='handleCommentRoute()'>COMMENT</button>
        <button mat-button routerLink="../{{fact.id}}">SEE DETAILS</button>
      </mat-card-actions>
    </mat-card>
