.bg-c-1 {
    background: linear-gradient(45deg,#B3FFAB,#12FFF7);
}

.bg-c-2 {
    background: linear-gradient(45deg,#ddd6f3,#faaca8);
}

.bg-c-3 {
    background: linear-gradient(45deg,#F0C27B,
    #4b1248);
}

.bg-c-4 {
    background: linear-gradient(45deg,#FBD3E9,#BB377D);
}

.bg-c-5 {
    background: linear-gradient(45deg,#C9FFBF,#ffafbd
    );
}
.bg-c-6 {
    background: linear-gradient(45deg,#B993D6,#8CA6DB
    );
}
.bg-c-0 {
    background: linear-gradient(45deg,#00d2ff,#3a7bd5
    );
}
.bg-c-8 {
    background: linear-gradient(45deg,#f2709c,#ff9472
    );
}

.bg-c-7 {
    background: linear-gradient(45deg,#B3FFAB,#12FFF7);
}

.bg-c-9 {
    background: linear-gradient(45deg,#ddd6f3,#faaca8);
}

.bg-c-10 {
    background: linear-gradient(45deg,#F0C27B,
    #4b1248);
}

.bg-c-11 {
    background: linear-gradient(45deg,#FBD3E9,#BB377D);
}

.bg-c-12 {
    background: linear-gradient(45deg,#C9FFBF,#ffafbd
    );
}
.bg-c-13 {
    background: linear-gradient(45deg,#B993D6,#8CA6DB
    );
}
.bg-c-14 {
    background: linear-gradient(45deg,#00d2ff,#3a7bd5
    );
}
.bg-c-15 {
    background: linear-gradient(45deg,#f2709c,#ff9472
    );
}

.alignMe{
    display: inline-flex;
    vertical-align: middle;
}